
.singlePost {
  flex: 9;
}

.singlePostWrapper {
  width: 60%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singlePostTitle {
  text-align: left;
  margin-bottom: 40px;
  font-size: 4rem;
}
.singlePostImg {
  width: 80%;
  height: 300px;
  border-radius: 16px;
  object-fit: cover;
  margin-bottom: 40px;
}

ul {
  margin-left: 80px;
  margin-right: 80px;
}
li {
  margin-bottom: 6px;
}

.singlePostBody {
  line-height: 1.4;
  font-size: 1.2rem;
  color: #4a4a4a;
  margin-bottom: 200px;
  text-align: justify;
}
.singlePostBody::first-letter {
  font-size: 30px;
  font-weight: 600;
}
