.top-bar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 999;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.top-left {
  margin-left: 60px;
}

.top-icon {
  margin-right: 15px;
  color: #444;
  cursor: pointer;
}

