
.calculator {
  background-color: white;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 40px;
  padding: 50px 50px;
  width: 60%;
  box-shadow: 0px 4px 12px #ccc;
  /* transition: all 1s; */
}
.calculator.enlarged {
  /* width: 80%; */
}

.calculator-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.calculator-title {
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
  content: open-quote;
}

.calculator-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculator-form-body {
  display: flex;
  flex-direction: row;
}



/* FUEL TYPE AREA */

.fuel-type-selector {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  width: 100%;
}
.fuel-type-option-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.fuel-type-option {
  margin-right: 20px;
  background-color: #e8e8e8;
  border: none;
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
}
.fuel-type-option:hover {
  background-color: #b0b0e8;
}
.fuel-type-option.selected {
  background-color: #88f;
}



/* SLIDER AREA */

.calculator-form-label {
  padding-right: 40px;
  margin-bottom: 12px;
  width: 12rem;
  text-align: left;
}

.label-and-slider {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}
.slider-and-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-padding-left {
  width: 4rem;
}
.slider {
  margin-right: 12px;
  margin-left: 12px;
}
.slider-text-box {
  width: 4rem;
}







.miles-per-gallon {
  display: flex;
  align-items: center;
}

.miles-per-day {
  display: flex;
  align-items: center;
}



.submit-button {
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px 30px;
  margin-top: 40px;
}
.submit-button:hover {
  background-color: rgb(236, 148, 148);
}
.submit-button:disabled{
  cursor: not-allowed;
  background-color: lightcoral;
}





/* CALCULATOR OUTPUT */

.calculator-output {
  
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
  /* transition: position 1s, visibility 1s, opacity 1s 1s; */
  transition: all 1s;
}
.calculator-output.visible {
  visibility: visible;
  opacity: 1;
  position: relative;
}

.horizontal-divider {
  
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 1px;
  width: 0%;
  margin: 40px 0px;
  background-color: #ccc;
  
  /* transition: position 1s, visibility 1s, opacity 1s 1s, width 1s 1s; */
  transition: all 1s;
}
.horizontal-divider.visible {
  visibility: visible;
  opacity: 1;
  position: relative;
  width: 100%;
}





.commute-cost {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.2rem;
}
.emissions-comparison-title {
  text-align: center;
  font-size: 1.2rem;
}
.emissions-comparison-scale {
  display: flex;
  margin-top: 10px;
  margin-bottom: 40px;
}
.emissions-comparison-item {
  width: 80px;
  padding-top: 8px;
  padding-bottom: 8px;
  flex: 1;
  color: black;
  text-align: center;
}
.emissions-comparison-item.low {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 1px solid #aaa;
}
.emissions-comparison-item.high {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid #aaa;
}
.emissions-comparison-item.average {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.emissions-comparison-item.low.selected {
  background-color: lightgreen;
}
.emissions-comparison-item.average.selected {
  background-color: cornflowerblue;
}
.emissions-comparison-item.high.selected {
  background-color: lightcoral;
}

.oil-barrels-text {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.oil-barrels-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 80px;
}
.oil-barrel {
  
}
